@model DT191G___Moment_3._2.Models.Borrow

@{
    ViewData["Title"] = "Detaljer om lån";
}

<h1>Om lånet</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BorrowDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BorrowDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cd.CdName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.BorrowId">Ändra</a> |
    <a asp-action="Index">Tillbaka till listan</a>
</div>
