@model DT191G___Moment_3._2.Models.Cd

@{
    ViewData["Title"] = "Detaljer om CD-skivan";
}

<h1>Om CD-skivan</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CdName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CdName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Artist)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Artist.ArtistName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CdId">Ändra</a> |
    <a asp-action="Index">Tillbaka till listan</a>
</div>
